<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Controller.authentication.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostList</servlet-name>
        <servlet-class>Controller.PostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>Controller.CreatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <servlet-class>Controller.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.authentication.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>Controller.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterPostList</servlet-name>
        <servlet-class>Controller.FilterPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.authentication.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostList</servlet-name>
        <url-pattern>/PostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/PostDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterPostList</servlet-name>
        <url-pattern>/FilterPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
